# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build on Node.js v20.11.1
      uses: actions/setup-node@v3
      with:
        node-version: 20.11.1
        cache: 'npm'
    - name: Clean install
      run: npm ci
    - name: Build
      run: npm run build --if-present
    - name: Test
      run: npm test
